.welcome-message {
  text-align: center;
  font-size: 55px;
}
.welcome-message p {
  font-size: 30px;
  
}
.Albums{
  margin-top: 25%;
  text-align: center;
}

.AlbumContainer{
  width: 100%;
  display: flex;
  justify-content: center;  
}
.embed-container{
  width: 25%;
  margin: 2%;
}